<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - Benji's Supervisions</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='erlenmeyer-flask.png') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #2c3e50;
            text-align: center;
        }
        .question {
            font-weight: bold;
            margin-top: 20px;
        }
        .answer {
            margin-bottom: 20px;
        }
        .footer-container {
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;
            background-color: #f8f8f8;
            justify-content: center;
            align-items: center;
        }
        body {
            padding-bottom: 80px; 
        }
    </style>
</head>
<body>
    <h1>Frequently asked questions</h1>

    <div class="question">Q: How long should the work take me?</div>
    <div class="answer"><p>A: The department's guidance for supervisors recommends
    setting around 3 hours of work per subject, per week for IA. Scaling this up
    to IB, this would be around 4 hours per week. For Parts II and III, you
    should probably expect it to take a bit longer.</p>

    <p>The guidance is difficult to adhere to, because the same number of questions
    takes everyone a different amount of time. If you find that you're spending
    much longer than 3 or 4 hours (for IA/IB) on the work that I set, let me
    know and don't try to force yourself to do all of it.</p>
    </div>

    <div class="question">Q: What do you mean by "attempt" a question?</div>
    <div class="answer"><p>A: When I set work, I instruct you to "attempt" a
    given set of questions. This means that I am not expecting you to produce a
    perfect set of answers. I am just expecting you to have a good go at them,
    by looking at the relevant section of the lecture notes and trying to apply
    the concepts to the question. If you can't do a question, that's fine! We
    will be able to discuss it in the supervision. Just try and make sure that
    you've given yourself the best chance at being able to do it by looking
    through the notes and having a think about it.</p>
    <p>
        If you don't have time to do all the work, this is also fine. As your
        supervisor, I have precisely no impact on your final mark, so you don't
        have to worry about it being used against you. At the end of the day,
        the work and the supervisions are there to help you get the most out of
        the lectures, and more generally out of the course and your time as an
        undergraduate. I am not saying that it's a good idea to get into the
        habit of regularly not handing in work, or only doing a subset of the
        questions; I am saying that you are the best judge of what you are
        capable of in a specific week. I am therefore not going to judge you if
        you don't get everything done.
    </p>

    </div>

    <div class="question">Q: How do I approach supervision work?</div>
    <div class="answer"><p>A: In IA and IB, in general the work quite closely follows
    the material in the lectures. The goal of the problems that are set is to
    help you understand the material, by making you go back through the lecture
    notes and get your head around the concepts by applying them to some
    questions. To this end, it is a brilliant idea to do the questions with the
    lecture notes open next to you. The more you are looking through the notes
    while dong your supervision work, the more you are learning and the better
    you will retain the information.</p>
    
    <p>In Parts II and III, the questions tend to be slightly more subtly linked to
    the lecture material (some courses are worse than others in this regard). It
    may feel as though the lecture notes are not as directly useful as they were
    in IA/IB. In particular, the organic courses begin to adopt a style more
    akin to examples classes, where the lecturer talks through some syntheses or
    reactions and then the supervision work consists of drawing mechanisms and
    designing syntheses that may or may not be related to what the lecturer
    talked about. My advice is to not get too disheartened, and focus on the
    basics of drawing reasonable mechanisms that don't include any obviously
    impossible steps. Organic chemistry is not a subject that can be examined by
    repeating exactly the same material as from the lectures; you are being
    taught the concepts of reactivity and synthesis, and you will need to learn
    to apply these concepts to new situations and unseen molecules.</p>

    <p>Having said this, some of the supervision problems and Tripos questions are
    just really hard. If you find yourself stuck on a question without much idea
    of what's going on, chances are that everyone else is too. Stick to the same
    principle as always: try and come up with something reasonable, that has a
    decent stab at explaining the reaction/making the requested molecule. In the
    exam, you don't need to get a mechanism or synthesis exactly right to get a
    good mark, as long as what you draw makes some kind of chemical sense.</p>

    <p>
        Finally, if it's supervision work that you're stuck on, for Parts II and
        III, try using Reaxys to find the reaction that is the subject of the
        question. Draw the starting material in ChemDraw, and then search for it
        in Reaxys. Most of the time, you will be able to find the research paper
        that originally reported the reaction. Sometimes, the authors of the
        paper will have discussed the reaction and its mechanism; other times,
        they won't have mentioned it at all. But this is certainly worth a try,
        as long as you've had a good go at the question yourself first. Note: do
        not try this for A2 in Part II: a large number of the molecules you are
        asked to write syntheses for are not reported in the literature, having
        just been made up by Bill.
    </p>
    </div>

    <div class="question">Q: I'm finding the work really hard. I'm a bit worried
    about passing the exam. What should I do?</div>
    <div class="answer"><p>A: The first thing to say is that you should keep
    your DoS and supervisor (me?) updated with any concerns that you have about
    your work. It's much better to make us aware of the situation early,
    than to let it build up and get to the point where you're approaching the
    exam and are getting more and more worried.
    </p>

    <p>
        The second thing to say is that the exams, by design, are not easy. I
        don't think there are many students at Cambridge who have never had
        trouble with at least some of the material/exam questions. Coming from A
        levels, it is very easy to have misaligned expectations of what
        represents a good exam performance. The exams are not like A levels (for
        more detail, see the answer to the next question). In general, the
        examiners are looking to discriminate between those who have a decent
        understanding, and those who have a really deep understanding of the
        material. What this means is that if your goal is simply to pass, it is
        often less difficult than you might think to get a passing mark.
    </p>

    <p>
        The key to obtaining said passing mark is to do your best to keep up
        with the work. Attend the lectures, and do the supervision work, with
        your lecture notes open next to you, reading through them to find the
        section that is relevant for a given question. If you do this, you will
        find that at least some of the material is sinking in
    </p>

    <p>
        I am afraid that you will probably find that you will need to do more
        than just doing the supervision work in order to make a decent attempt
        at the exam. Do not underestimate the pedagogical value of past Tripos
        papers. They are a brilliant way to learn the material. For most
        courses, which have a large bank of past papers, past Tripos questions
        represent (nearly) all of the core examinable concepts for a given
        course. Of course it's not an absolute guide, because anything in the
        lecture notes (and indeed maybe not in the lecture notes) is fair game,
        but Tripos papers give you a good idea of what you <i>actually</i> need
        to know and be able to do. When you first start revising (I am not going
        to tell you when to start revising, because that's different for
        everyone, but there are always people who start as early as the end of
        Michaelmas), do the past Tripos questions in exactly the same way as
        you'd do supervision work, i.e. with your lecture notes open next to
        you. As it gets closer to the exam, you can slowly start to work on
        timing and doing the questions closed book. As long as there are enough
        past Tripos questions available for a course, I would personally
        recommend that you don't feel scared of starting Tripos questions before
        you "know the material". Indeed, I repeat my thesis that you should use
        the Tripos questions <b>as a way to learn the material</b>.
    </p>


    </div>
    <div class="question">Q: How exactly are the exams marked? What do I need to do to
    get a really high mark?</div>
    <div class="answer"><p><i>Disclaimer: I have never marked any Cambridge exams.
    What I say here is based off my experience with exams when I was an
    undergraduate, reading the examiner's reports, some mark checking I've done on
    marked scripts, and things other people from around the department have told
    me.</i></p>

    <p>A: This is a tough question to answer, because the exams are marked by lots
    of different people, and they all have different ideas of what they are
    looking for. However, if I were to generalise, I would say the following.
    The marking of the exams is nothing like for A level. In the overwhelming
    majority of cases, there is no "mark scheme". The examiners are generally
    not reading your answer looking for specific things you've mentioned and
    giving each "marking point" a tick.</p>

    <p>Instead, the examiners are looking for a good answer. It is quite easy to
    tell whether an answer is good or not, just by having a quick look at it. In
    an organic question, a good answer would be one where the candidate has
    drawn their molecules in a nice way, the mechanism/synthesis is clear and
    broadly correct, and crucially where the answer doesn't contain any
    egregious chemical errors (e.g. forming a carbon with 5 bonds).
    </p>

    <p>
        The other key thing that makes an answer good is detail. A level exams
        have a hard cap: full marks. Some of you probably reached this cap in
        some of your mocks or actual exams. No matter how good your answer is,
        it can never get more than full marks. Cambridge exams effectively do
        not have this cap. The examiners are aiming to award an average mark of
        around 65%, so this leaves a lot of room for excellent answers to be
        elevated. You can write a brilliant answer that gets everything right,
        and it still might only get 20 out of 25. The additional marks are
        reserved for answers that show a really deep understanding of the material.
        This is why it is so important to <i>show your working in exam
        questions</i>, and to include as much detail as you can think of and
        have time to include. Students have asked me in the past, "do I need
        to write about this aspect of the reaction?". The answer is that you
        probably don't <i>need</i> to (although of course this depends on what
        mark you are aiming for), but that you have a good chance of being
        suitably rewarded if you do.
    </p>

    <p>
        Some additional advice: in IA and IB, the examiners are not the same as
        the lecturers. They are different academics from the department. This
        means that the style of questions changes a bit year to year, and it's
        not always easy to predict what will come up. Sorry!
    </p>

    <p>
        However, in Parts II and III, the lecturer for a course is also
        responsible for examining it. Most courses have had the same lecturer
        for several years, so you can get a good feel for the style of their
        questions. Do not forget that you have access to suggested answers for
        Tripos papers on Moodle. I recommend that you make good use of these
        suggested answers when it comes to revising for the exam. Importantly,
        because these answers are written by the lecturer, they are often (NOT
        always, some lecturers write terrible suggested answers) a good guide to
        what the examiner is expecting in a good/excellent answer to their
        question. If you can produce in the exam an answer that closely matches
        the style and substance of the examiner's suggested answers, the chances
        are that you will do well.
    </p>
    </div>


    <div class="footer-container" id="footerContainer">
        <a href="{{ url_for('questions_set') }}">Return to set questions</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('index') }}">Return to calendar</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://forms.gle/9wFnfEGK5HrUHBCm9">Questions?</a>
    </div>
</body>
</html>
